<section class="container ">
    <h1 class="mt-3 text-center text-primary fw-bold">Ingrese Producto</h1>

    <form action="/productos" method="post">
        <div class="mb-3">
            <label for="title" class="form-label text-dark fw-bold fst-italic">Nombre</label>
            <input type="text" class="form-control" name="title">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label text-dark fw-bold fst-italic">Precio</label>
            <input type="text" class="form-control" name="price">
        </div>
        <div class="mb-3">
            <label for="thumbnail" class="form-label text-dark fw-bold fst-italic">Foto URL</label>
            <input type="text" class="form-control" name="thumbnail">
        </div>
        <input type="hidden" name="form" value="1">
        <button class="btn btn-success">Agregar producto</button>
    </form>
</section>
</body>